@{
    ViewBag.Title = "Página Principal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Esta es sólo una prueba de concepto con las historias de usuario:
            </p>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>Creación de Usuarios</h5>
        Se pueden crear usuarios desde el menú de la derecha.
    </li>

    <li class="two">
        <h5>Ingresar con un usuario creado</h5>
        También podemos loguearnos con nuestros usuarios previamente creados.
    </li>

    <li class="three">
        <h5>Páginas de -Acerca de- y -Contacto-</h5>
        Una prueba de las páginas de Información del Sitio ha sido creada y es accesible por el menú de arriba.
    </li>
</ol>
